* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

main {
  display: grid;
  grid-template-rows: 209px auto auto 2656px 1107px 1900px 422px 2663px 1900px 709px;
  border: 1px solid black;
}

main > section {
  border: 1px solid blue;
}

.section-1 {
  background-color: #d33a2c;
}

.navbar {
  display: flex;
  height: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
}
.nav-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav-item__img {
  width: 40px;
}

.nav-item__title,
.nav-item__tag {
  color: white;
  margin-top: 12px;
}

.nav-item__title {
  font-size: 36px;
}

.nav-item__tag {
  font-size: 20px;
}

.nav-item__button {
  border: 0;
  border: 3px solid white;
  border-radius: 8px;
  color: white;
  font-size: 24px;
  background-color: transparent;
  padding: 8px 16px;
}

.fa-search {
  padding-right: 10px;
}

.logo {
  width: 235px;
  height: 95px;
}

.section-2 {
  background-color: #d33c37;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  justify-content: center;
  align-items: center;
  position: relative;
  color: white;
}

.section-2__header {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  font-size: 50px;
  text-align: center;
  width: 500px;
  color: black;
  background-color: white;
  top: 30px;
}

.articles {
  width: 200px;
  top: 80px;
}

.content-1 {
  padding: 100px 80px 60px 80px;
  flex-direction: column;
  height: 100%;
}

.content-1:nth-child(1) {
  padding-top: 200px;
  background-color: #bc3428;
}

.content-1:nth-child(2) {
  padding-top: 200px;
  background-color: #c7372a;
}

.content-1:nth-child(3) {
  background-color: #b13024;
}

.content-1:nth-child(4) {
  background-color: #bc3428;
}

.writer-image {
  display: flex;
  margin-bottom: 16px;
  align-items: center;
}
.content-image {
  width: 76px;
  border-radius: 8px;
  border: 5px white solid;
}

.writer {
  color: white;
  font-size: 30px;
  padding-left: 25px;
}

.writer-article {
  font-size: 40px;
}

.fa-comment-alt {
  font-size: 20px;
}

.comments {
  font-size: 20px;
}

.writer-ethics {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
  font-size: 20px;
  font-weight: bold;
  width: 462px;
}

.content-1 .fa-long-arrow-alt-right {
  font-size: 30px;
  margin-top: 120px;
}

.section-3 {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: repeat(4, 1fr);
  justify-content: flex-end;
  margin-top: 20px;
  gap: 80px 15px;
}
.section-3 > div {
  border: 1px solid black;
  padding: 40px;
  text-decoration: none;
}

.post {
  padding: 25px;
  border-radius: 4px;
}

.posts-description {
  font-size: 24px;
  color: rgb(46, 46, 46);
}

.posts-writer {
  font-size: 1px;
  color: rgb(95, 95, 95);
  padding-top: 30px;
  font-size: 18px;
  font-weight: bold;
}

.post .fa-long-arrow-alt-right {
  color: black;
  text-align: left;
}

.posts-4 {
  grid-column: 1/3;
  grid-row: 2/3;
  background-color: grey;
}

.posts-5 {
  grid-column: 3/4;
  grid-row: 2/3;
}

.posts-6 {
  grid-column: 4/5;
  grid-row: 2/3;
}

.posts-7 {
  grid-column: 1/2;
  grid-row: 3/4;
}

.posts-8 {
  grid-column: 2/3;
  grid-row: 3/4;
}

.posts-9 {
  grid-column: 3/5;
  grid-row: 3/4;
  background-color: grey;
}

.main-posts {
  text-align: center;
}

.main-posts > h2 {
  font-size: 40px;
}

.main-posts > p {
  font-size: 20px;
  line-height: 30px;
}

.main-posts > p,
.main-posts > h2 {
  color: white;
  margin-top: 35px;
}

.main-posts-img {
  width: 100%;
  width: 300px;
}

.main-posts-button {
  margin-top: 35px;
  border: 0;
  padding: 15px 22px;
  background-color: white;
  border-radius: 5px;
  font-size: 20px;
  font-weight: bold;
}

.posts-heading {
  font-size: 30px;
  font-weight: bold;
  text-decoration: underline;
  color: black;
}

.posts-description {
  padding-top: 20px;
}

.section-4 {
  background-color: #f6f3f2;
}

.section-5 {
  background-color: #76d0a4;
}

.section-6 {
}
.section-7 {
  background-color: #d33c37;
}
.section-8 {
  background-color: #f6f3f2;
}

footer {
  background-color: #d33c37;
}
